html {
    height: 100%; 
    background-color: #0A131A !important;
    color: #D6D6D6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0A131A; /* Ensure consistency in background color */
    color: #D6D6D6;
    min-height: 100%; /* Ensure body takes at least full height */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

header {
    margin: 0 auto;
    padding: 20px 0; /* Adds padding around the header content */
    text-align: center; /* Adjusted for non-centered text */
}

.logo-container {
    display: inline-block;
    width: 60%;
}

.logo {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the logo horizontally */
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #0A131A;
    word-wrap: normal;
    word-break: keep-all;
    hyphens: none;
    text-align: left;
}

.work-images {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.work-images img {
    width: 24%;
    height: auto;
}

footer {
    background-color: #0A131A; /* Match the footer background with the body */
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed, remove vertical margins if any */
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
}

.contact-info {
    display: block;
    color: #D6D6D6; /* Ensuring readability on lighter background elements */
}

@media screen and (max-width: 600px) {
    .work-images {
        flex-direction: column;
    }

    .work-images img {
        width: 100%;
        margin-bottom: 20px;
    }

    .work-images img:last-child {
        margin-bottom: 0;
    }
}