html {
    height: 100%; 
    background-color: #121212 !important; /* #121212 #0A131A */
    color: #D6D6D6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Ensure consistency in background color */
    color: #D6D6D6;
    min-height: 100%; /* Ensure body takes at least full height */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

header {
    margin: 0 auto;
    padding: 20px 0; /* Adds padding around the header content */
    text-align: center; /* Adjusted for non-centered text */
}

.logo-container img.logo {
    width: 200px; /* Example fixed width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* To prevent inline display default space */
}

.logo {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the logo horizontally */
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #121212;
    word-wrap: normal;
    word-break: keep-all;
    hyphens: none;
    text-align: left;
}

footer {
    background-color: #121212; /* Match the footer background with the body */
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed, remove vertical margins if any */
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
}

.contact-info a {
    color: #D6D6D6;
}